body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/fond-header.jpg);
  background-size: cover;
}

.title-box {
  background-color: #000000ee;
}

.slogan {
  color: #e6f3ff;
}
.cta-container .cta {
  text-decoration: none;
}

.cta-dark {
  color: #e6f3ff;
  background-color: #11161d;
}

.cta-light {
  color: #11161d;
  background-color: #e6f3ff;
}

.section-intro {
  color: #11161d;
  background-color: #e6f3ff;
}
}

h2 {
  font-size: 30px;
  font-weight: 300;
  padding: 20px 50px;
}

h3{
  font-size: 23px;
  font-weight: 400;
}

.section-produit {
  color: #e6f3ff;
  background-color: #11161d;
}

.section-contact {
  color: #11161d;
  background-color: #e6f3ff;
}


